.progress {
	position:relative;
	height:13px;
	margin-bottom: 43px;
	margin-top: 60px;
	color:#FFFFFF;
	display:none;
}

	.progress .progress-percent {
		position: absolute;
		left: 0%;
		top: -63px;
		width: 82px;
		height: 49px;
		margin-top: -9px;
		font-weight: bold;
		line-height: 39px;
		text-align: center;
	}
tr{	
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
table.sis tr:nth-child(even) {
	background-color:#FCFCFC ;
}
table.sis tr:nth-child(odd) {
	background-color:transparent ;
}
tr.addPending {
	background-color:#6CA1D7;
}
tr.successAdding {
	background-color:#89D76A;
}
tr.errorAdding {
	background-color:#C45858;
}
tr.notChangedAdding {
	background-color:#F2A13A;	
}

#regenerate_message,#time,#thumb {
	display:none;
}

#ajax_thumbnail_rebuild {
	margin-top:40px;
}