<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="Example Project" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">

    <description>A custom set of rules to check for a WPized WordPress project</description>

    <!-- Exclude the Composer Vendor directory. -->
    <exclude-pattern>./vendor/</exclude-pattern>
    <exclude-pattern>./languages/</exclude-pattern>
    <exclude-pattern>./assets/</exclude-pattern>
    <exclude-pattern>./tests/</exclude-pattern>

    <!-- Exclude the Node Modules directory. -->
    <exclude-pattern>/node_modules/*</exclude-pattern>

    <!-- Exclude minified Javascript files. -->
    <exclude-pattern>*.min.js</exclude-pattern>
    <exclude-pattern>*.js</exclude-pattern>

    <rule ref="WordPress-Extra">
        <!-- Exclude as we use a custom autoloader. -->
        <exclude name="WordPress.Files.FileName"/>

        <!-- Exclude as it conflict with @var declaration. -->
        <exclude name="Squiz.PHP.CommentedOutCode.Found"/>

        <!-- Exclude as we use the short array syntax over the long one. -->
        <exclude name="Generic.Arrays.DisallowShortArraySyntax"/>
        <exclude name="Universal.Arrays.DisallowShortArraySyntax"/>

        <!-- Allow to use short ternary operators since they are very useful. -->
        <exclude name="WordPress.PHP.DisallowShortTernary.Found"/>
        <exclude name="Universal.Operators.DisallowShortTernary.Found"/>
    </rule>

    <!--
      Baseline the existing violations in legacy files. New files and other
      sniff categories remain enforced while this debt is reduced separately.
    -->
    <rule ref="Squiz.ControlStructures.ControlSignature.SpaceAfterCloseBrace">
        <exclude-pattern>classes/Admin/Main.php</exclude-pattern>
    </rule>
    <rule ref="WordPress.PHP.StrictInArray.MissingTrueStrict">
        <exclude-pattern>classes/Admin/Main.php</exclude-pattern>
        <exclude-pattern>classes/Admin/Media.php</exclude-pattern>
        <exclude-pattern>classes/Admin/Post.php</exclude-pattern>
    </rule>
    <rule ref="WordPress.WP.EnqueuedResourceParameters.NotInFooter">
        <exclude-pattern>classes/Admin/Main.php</exclude-pattern>
    </rule>
    <rule ref="Generic.Formatting.MultipleStatementAlignment.NotSameWarning">
        <exclude-pattern>classes/Admin/Media.php</exclude-pattern>
    </rule>
    <rule ref="NormalizedArrays.Arrays.CommaAfterLast.MissingMultiLine">
        <exclude-pattern>classes/Admin/Media.php</exclude-pattern>
    </rule>
    <rule ref="PSR2.Methods.FunctionClosingBrace.SpacingBeforeClose">
        <exclude-pattern>classes/Admin/Media.php</exclude-pattern>
    </rule>
    <rule ref="Universal.ControlStructures.DisallowLonelyIf.Found">
        <exclude-pattern>classes/Admin/Media.php</exclude-pattern>
    </rule>
    <rule ref="Universal.Operators.StrictComparisons.LooseEqual">
        <exclude-pattern>classes/Admin/Media.php</exclude-pattern>
        <exclude-pattern>classes/Admin/Post.php</exclude-pattern>
        <exclude-pattern>templates/options-media.php</exclude-pattern>
    </rule>
    <rule ref="Universal.WhiteSpace.PrecisionAlignment.Found">
        <exclude-pattern>classes/Admin/Media.php</exclude-pattern>
        <exclude-pattern>templates/options-media.php</exclude-pattern>
    </rule>
    <rule ref="WordPress.DB.PreparedSQL.InterpolatedNotPrepared">
        <exclude-pattern>classes/Admin/Media.php</exclude-pattern>
    </rule>
    <rule ref="WordPress.DB.PreparedSQL.NotPrepared">
        <exclude-pattern>classes/Admin/Media.php</exclude-pattern>
    </rule>
    <rule ref="WordPress.NamingConventions.ValidFunctionName.MethodNameInvalid">
        <exclude-pattern>classes/Admin/Media.php</exclude-pattern>
    </rule>
    <rule ref="WordPress.PHP.YodaConditions.NotYoda">
        <exclude-pattern>classes/Admin/Media.php</exclude-pattern>
    </rule>
    <rule ref="WordPress.Security.EscapeOutput.OutputNotEscaped">
        <exclude-pattern>classes/Admin/Media.php</exclude-pattern>
        <exclude-pattern>templates/options-media.php</exclude-pattern>
    </rule>
    <rule ref="WordPress.Security.EscapeOutput.UnsafePrintingFunction">
        <exclude-pattern>classes/Admin/Media.php</exclude-pattern>
        <exclude-pattern>templates/options-media.php</exclude-pattern>
    </rule>
    <rule ref="WordPress.Security.NonceVerification.Missing">
        <exclude-pattern>classes/Admin/Media.php</exclude-pattern>
        <exclude-pattern>classes/Admin/Post.php</exclude-pattern>
    </rule>
    <rule ref="WordPress.Security.NonceVerification.Recommended">
        <exclude-pattern>classes/Admin/Post.php</exclude-pattern>
    </rule>
    <rule ref="WordPress.WP.I18n.MissingArgDomain">
        <exclude-pattern>classes/Admin/Media.php</exclude-pattern>
    </rule>
    <rule ref="WordPress.WP.I18n.NonSingularStringLiteralText">
        <exclude-pattern>classes/Admin/Media.php</exclude-pattern>
    </rule>
    <rule ref="Universal.NamingConventions.NoReservedKeywordParameterNames.objectFound">
        <exclude-pattern>classes/Admin/Post.php</exclude-pattern>
    </rule>
    <rule ref="WordPress.NamingConventions.ValidHookName.NotLowercase">
        <exclude-pattern>classes/Admin/Post.php</exclude-pattern>
    </rule>
    <rule ref="WordPress.NamingConventions.ValidHookName.UseUnderscores">
        <exclude-pattern>classes/Admin/Post.php</exclude-pattern>
    </rule>
    <rule ref="WordPress.NamingConventions.ValidVariableName.VariableNotSnakeCase">
        <exclude-pattern>classes/Admin/Post.php</exclude-pattern>
    </rule>
    <rule ref="WordPress.WP.GlobalVariablesOverride.Prohibited">
        <exclude-pattern>templates/options-media.php</exclude-pattern>
    </rule>

    <!-- Show sniff name in report. -->
    <arg value="sp"/>

    <!-- Show progress. -->
    <arg value="p"/>

    <!-- Use colors. -->
    <arg name="colors"/>

    <!-- Set ini. -->
    <ini name="memory_limit" value="512M"/>
    <ini name="max_execution_time" value="-1"/>

    <rule ref="PHPCompatibility"/>
    <config name="testVersion" value="8.0-"/>

    <rule ref="WordPress.WP.I18n">
    <properties>
      <!-- Value: replace the text domain used. -->
      <property name="text_domain" type="array">
        <element value="simple-image-sizes"/>
      </property>
    </properties>
    </rule>
    <rule ref="WordPress.WhiteSpace.ControlStructureSpacing">
    <properties>
      <property name="blank_line_check" value="true"/>
    </properties>
    </rule>



</ruleset>
